# git+https://github.com/InternLM/lagent
duckduckgo_search
einops
fastapi
gradio==5.7.1
janus
# lagent==0.5.0rc2
matplotlib
pydantic==2.6.4
python-dotenv
pyvis
schemdraw
sse-starlette
termcolor
transformers
uvicorn
tenacity
lmdeploy
partial_json_parser
